@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>购买道具房卡-订单验证</title>
</head>
<body>
@if (ViewBag.Code == "-1")
{
    <h4 style="color: red;">温馨提示：数据错误，请稍后重试！</h4>
}
else if (ViewBag.Code == "-2")
{
    <h4 style="color: red;">温馨提示：账号不存在，请确认！</h4>
}
else if (ViewBag.Code == "-3")
{
    <h4 style="color: red;">温馨提示：订单错误，请重试！</h4>
}
</body>
</html>