<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="xjpgameweb" connectionString="Data Source=.;Initial Catalog=xjpgameweb;Persist Security Info=True;User ID=sa;Password=ssa;" providerName="System.Data.SqlClient" />
    <add name="xjpaccountsdb" connectionString="Data Source=.;Initial Catalog=xjpaccountsdb;Persist Security Info=True;User ID=sa;Password=ssa;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--支付接口-->
    <add key="p1_usercode" value="10210261" />
    <!--商户号-->
    <!--<add key="p2_order" value=""/>-->
    <!--订单号-->
    <!--<add key="p3_money" value=""/>-->
    <!--金额-->
    <add key="p4_returnurl" value="http://pay.laiwan888.com/JtPay/Return.aspx" />
    <!--回掉界面-->
    <add key="p5_notifyurl" value="http://pay.laiwan888.com/JtPay/Notify.aspx" />
    <!--通知界面-->
    <!--<add key="p6_ordertime" value=""/>-->
    <!--订单时间-->
    <!--<add key="p7_sign" value=""/>-->
    <!--商户传递参数加密值-->
    <add key="p8_signtype" value="MD5" />
    <!--签名验证方式-->
    <!--<add key="p9_paymethod" value=""/>-->
    <!--商户支付方式-->
    <!--<add key="p10_paychannelnum" value=""/>-->
    <!--支付通道编码-->
    <add key="p18_product" value="金币" />
    <!--商品名称-->
    <add key="requestUrl" value="http://pay.jtpay.com/form/pay" />
    <!--用户名或账号,用于确认您的身份-->
    <add key="compKey" value="2AC3A50AD31B51BA8D8097E977B0BB0B" />
    <!--支付秘钥-->
    <!--<add key="gold_per_yuan" value="14000" />-->
    <!--金币/元-->
    <!--<add key="user_not_find_page" value="zhaobudaoyonghu.html" />-->
    <!--充值找不到用户页面-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
  </system.webServer>
</configuration>